* {
    font-family: Tahoma;
}
.clear-both {
    clear: both;
}
.header {
    background-color: #15a3ff;
    border: 3px solid black;
    top: 0;
    position: sticky;
    padding: 5px;
}
.banner {
    margin-right: 50px;
    float: right;
}
.header .logo {
    font-weight: bold;
    font-size: 25px;
    float: left;
    margin-left: 70px;
}
.quote {
    background-color: #15a3ff;
    color: white;
    border: 3px solid black;
    text-align: center;
    margin-top: 20px;
}
.main-content .Semantic {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
}
.main-content .Coding {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .Positioning {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .Background {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
}
.main-content .List {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .Form {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .Animation {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
}
.main-content .Javascript {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .JQuery {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .Bootstrap {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
}
.main-content .Project {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .HTML {
    float: left;
    width: 30%;
    padding: 20px;
}
.main-content .Box {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
}
.main-content .Working {
    float: left;
    width: 30%;
    padding: 20px;
}
.header .banner li {
    border-right: 2px solid black;
    display: inline;
    float: right;
    margin-bottom: 20px;
    padding: 2px;
}
.footer {
    background-color: #15a3ff;
    color: white;
    text-align: center;
    border: 3px solid black;
}
#Scroll\ To\ Top {
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    float: right;
    transition: all 0.5s ease;
}